[submodule "CODE_PINCEPLES"]
	path = CODE_PINCEPLES
	url = https://github.com/lotaway/CODE_PINCEPLES.git
[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "mcps/chrome-devtools-mcp"]
	path = mcps/chrome-devtools-mcp
	url = https://github.com/ChromeDevTools/chrome-devtools-mcp.git
[submodule "skills/claude-skills"]
	path = skills/claude-skills
	url = https://github.com/anthropics/skills.git
[submodule "mcps/chain-trade-mcp"]
	path = mcps/chain-trade-mcp
	url = https://github.com/lotaway/chain-trade-mcp.git
