[submodule "CODE_PINCEPLES"]
	path = CODE_PINCEPLES
	url = https://github.com/lotaway/CODE_PINCEPLES.git
[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "third_party/StyleTTS2"]
	path = third_party/StyleTTS2
	url = https://github.com/yl4579/StyleTTS2.git
