# https://github.com/milvus-io/milvus/releases/download/v2.6.5/milvus-standalone-docker-compose.yml
# https://github.com/milvus-io/milvus/releases/download/v2.6.5/milvus-standalone-docker-compose-gpu.yml

services:
  etcd:
    image: quay.io/coreos/etcd:v3.5.18
    container_name: llp-milvus-etcd
    environment:
      - ETCD_AUTO_COMPACTION_MODE=revision
      - ETCD_AUTO_COMPACTION_RETENTION=1000
      - ETCD_QUOTA_BACKEND_BYTES=4294967296
      - ETCD_SNAPSHOT_COUNT=50000
    volumes:
      - etcd_data:/etcd
    command: etcd -advertise-client-urls=http://etcd:2379 -listen-client-urls http://0.0.0.0:2379 --data-dir /etcd
    healthcheck:
      test: ["CMD", "etcdctl", "endpoint", "health"]
      interval: 30s
      timeout: 20s
      retries: 3
    restart: always
    networks:
      - local-llm-provider

  minio:
    image: minio/minio:RELEASE.2024-12-18T13-15-44Z
    container_name: llp-milvus-minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER:-admin}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:-123123123}
    ports:
      - "${MINIO_PORT1:-9000}:9000"
      - "${MINIO_PORT2:-9001}:9001"
    volumes:
      - minio_data:/minio_data
    command: minio server /minio_data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    restart: always
    networks:
      - local-llm-provider

  milvus:
    image: milvusdb/milvus:v2.6.5
    container_name: llp-milvus
    command: ["milvus", "run", "standalone"]
    security_opt:
    - seccomp:unconfined
    environment:
      ETCD_ENDPOINTS: etcd:2379
      MINIO_ADDRESS: minio:9000
      MQ_TYPE: woodpecker
      MINIO_ACCESS_KEY_ID: ${MINIO_ROOT_USER:-admin}
      MINIO_SECRET_ACCESS_KEY: ${MINIO_ROOT_PASSWORD:-123123123}
      MINIO_BUCKET_NAME: ${MINIO_BUCKET_NAME:-milvus-bucket}
    ports:
      - "${MILVUS_PORT1:-19530}:19530"
      - "${MILVUS_PORT2:-9091}:9091"
    volumes:
      - milvus_data:/var/lib/milvus
      # - ./milvus-config/milvus.yaml:/milvus/configs/milvus.yaml
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9091/healthz"]
      interval: 30s
      start_period: 90s
      timeout: 20s
      retries: 3
    depends_on:
      etcd:
        condition: service_healthy
      minio:
        condition: service_healthy
    restart: always
    networks:
      - local-llm-provider
  # Elasticsearch
  elasticsearch:
    image: elasticsearch:9.2.2
    container_name: llp-elasticsearch
    environment:
      discovery.type: single-node
      ES_JAVA_OPTS: "-Xms1g -Xmx1g"
      ELASTIC_PASSWORD: ${ELASTIC_PASSWORD:-123123}
      xpack.security.enabled: "false" # disable security for development
      bootstrap.memory_lock: "true"
    ports:
      - "${ES_PORT1:-9200}:9200"
      - "${ES_PORT2:-9300}:9300"
    volumes:
      - es_data:/usr/share/elasticsearch/data
      # - es_config:/usr/share/elasticsearch/config
    ulimits:
      memlock:
        soft: -1
        hard: -1
    deploy:
      resources:
        limits:
          memory: 2g
    restart: unless-stopped
    networks:
      - local-llm-provider
  # Elasticsearch UI Manager
  kibana:
    image: kibana:9.2.2
    container_name: llp-kibana
    ports:
      - "${KIBANA_PORT:-5602}:5601"
    environment:
      ELASTICSEARCH_HOSTS: '["http://elasticsearch:9200"]'
      ELASTICSEARCH_SERVICEACCOUNT_TOKEN: ${ES_API_KEY}
    restart: unless-stopped
    networks:
      - local-llm-provider
    depends_on:
      elasticsearch:
        condition: service_started

volumes:
  milvus_data:
  minio_data:
  etcd_data:
  es_data:

networks:
  local-llm-provider:
    driver: bridge