services:

  # For AMD GPU + ROCm support with PyTorch
  pytorch:
    image: rocm/pytorch:rocm7.2_ubuntu24.04_py3.12_pytorch_release_2.9.1
    container_name: llp-pytorch
    stdin_open: true
    tty: true
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined
    # ipc: host
    shm_size: 8g
    devices:
      - /dev/dxg:/dev/dxg
    volumes:
      - /usr/lib/wsl/lib/libdxcore.so:/usr/lib/libdxcore.so
      - /opt/rocm/lib/libhsa-runtime64.so.1:/opt/rocm/lib/libhsa-runtime64.so.1
      # - ${HOME}/local-llm-provider:/app
      - ${PWD}:/app
      - ${HOME}/.cache/huggingface:/root/.cache/huggingface
    ports:
      - "0.0.0.0:${PORT:-8434}:${PORT:-8434}"
    environment:
      - PORT=${PORT:-8434}
      - DB_HOST=milvus
      - DB_PORT=19530
      - ES_HOST=elasticsearch
      - ES_PORT1=9200
      - HSA_OVERRIDE_GFX_VERSION=${HSA_OVERRIDE_GFX_VERSION:-11.0.0}
      - ROCM_PATH=/opt/rocm
      - HIP_PATH=/opt/rocm/hip


    working_dir: /app
    command: /bin/bash scripts/docker-entrypoint.sh

    restart: unless-stopped
    networks:
      - local-llm-provider


networks:
  local-llm-provider:
    driver: bridge

