# torch install: https://rocm.docs.amd.com/projects/radeon-ryzen/en/latest/docs/install/installrad/wsl/install-pytorch.html#verify-pytorch-installation
fastapi>=0.118.0
pydantic>=2.11.9
uvicorn>=0.37.0
transformers>=4.57.0
accelerate>=1.10.1
openai>=2.2.0
httpx>=0.28.1
python-dotenv>=1.1.1
# For RAG
langchain>=1.0.5
langchain-community>=0.4.1
langchain-text-splitters>=1.0.0
langchain-core>=1.0.4
langchain-huggingface>=1.0.1
pymilvus>=2.6.3
sentence_transformers>=5.1.2
unstructured>=0.18.20
langchain-huggingface>=1.0.1